body {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  color: #22292f;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #2779bd;
  }
}

h1, h2, h3, h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  padding-bottom: .25rem;
}

#nav {
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
}

#app, body, html {
  height: 100%;
}

.max-w-screen-xl {
  max-width: 1280px;
}

@responsive {
  .top-16 {
    top: 4rem;
  }
  .top-28 {
    top: 7rem;
  }
}

@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-\(screen-16\) {
      height: calc(100vh - 4rem);
    }

    .sticky\?lg\:h-\(screen-28\) {
      height: calc(100vh - 7rem);
    }
  }
}
