body {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  color: #22292f;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #2779bd;
  }
}

h1, h2, h3, h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  padding-bottom: .25rem;
}

#nav {
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
}

#app, body, html {
  height: 100%;
}

::-webkit-scrollbar-track
{
  border-radius: 6px;
  background-color: transparent;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgba(#1a202c, .4);
}

@each $height in 1, 2, 3, 4, 6, 8, 12, 14 {
  .top-#{$height} {
    top: #{$height}rem;
  }

  .bottom-#{$height} {
    bottom: #{$height}rem;
  }
}

@media (min-width: 576px) {
  blockquote > div {
    display: block;
  }
}
