.markdown-body {
  color: #4a5568;
  line-height: 1.625;
  letter-spacing: .009em;
  max-width: 750px;

  > article > *+* {
    margin-top: 1.5rem;
  }

  h1 {
    margin-top: 0;
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h2, h3 {
    position: relative;
    align-items: center;
    line-height: 1;

    &:before {
      display: block;
      width: 100%;
      height: 5rem;
      margin-top: -5rem;
      visibility: hidden;
      content: "";
    }

    &:not(.content-header + h2):not(.content-header + h3) {
      margin-top: 4rem;
      &:before {
        display: none;
      }
    }

    &:hover {
      a {
        color: theme('colors.blue.500')
      }
    }
  }

  a.anchor-link {
    left: -1.1em;
    position: absolute;
    color: transparent;
    display: inline-flex;
    align-items: center;
    height: 1.1em;
    width: 1.1em;

    svg {
      display: inline;
      margin-right: 6px;
    }
  }

  ol, ul {
    list-style: initial;
  }

  pre {
    overflow-x: auto;
  }

  blockquote {
    background-color: #f8fafc;
    border-color: theme('colors.gray-200');

    p {
      margin-bottom: 0;

      a {
        color: #2779bd;
        text-decoration: none;
        &:hover {
          color: #2779bd;
          text-decoration: underline;
        }
      }
    }

    ul, ol {
      padding-left: 1em;
      margin-bottom: 0;
    }
  }
  table {
    display: block;
    overflow: auto;
    td, th {
      padding: 1rem .5rem;
      border-width: 1px;
    }
    tr:nth-child(2n) {
      background-color: #f8fafc;
    }
  }
  .token {
    &.deleted {
      color: #b31d28;
      background-color: #ffeef0;
    }
    &.inserted {
      color: #22863a;
      background-color: #f0fff4;
    }
  }
  .copy-btn {
    display: block;
    color: #9DAAB6;
    font-family: Arial;
  }

  .copy-btn:hover {
    &::before {
      top: calc(100% + 4px);
      left: 50%;
      width: 0;
      height: 0;
      bottom: auto;
      z-index: 101;
      content: "";
      position: absolute;
      transform: translateX(-50%);
      border-style: solid;
      border-color: #242A31 transparent;
      animation-name: c012;
      border-top-width: 0;
      border-left-width: 8px;
      animation-duration: 0.2s;
      border-right-width: 8px;
      animation-fill-mode: forwards;
      border-bottom-width: 8px;
    }
    &::after {
      top: calc(100% + 8px);
      left: 50%;
      color: #FFFFFF;
      bottom: auto;
      z-index: 100;
      padding: 5px 8px;
      content: attr(aria-label);
      position: absolute;
      font-size: 12px;
      transform: translateX(-50%);
      background: #242A31;
      line-height: 1.625;
      font-weight: 400;
      white-space: pre;
      border-radius: 3px;
      text-transform: none;
      pointer-events: none;
      animation-name: c012;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}
