#sidebar {
  min-width: 298px;
  width: calc((100% - 1448px) / 2 + 298px);
  padding-left: calc((100% - 1448px) / 2);

  .sidebar-inner {
    width: 298px;
  }

  .docs-index h2, li {
    padding-bottom: 0.25rem;
  }

  .docs-index {
    height: calc(100vh - 14rem);
    h2 {
      margin-top: 0;
      margin-bottom: .5rem;
      border-bottom-width: 1px;
      border-style: dotted;
      font-size: .875rem;
      color: #8795a1;
      text-transform: uppercase;
    }
    > ul {
      list-style: none;
      padding: 0;
      > li {
        a.is-active {
          color: #2779bd;
          font-weight: 400;
        }
        > ul {
          list-style: none;
          padding: 0;
          line-height: 1.5;
          font-size: 0.875rem;
        }
      }
    }
  }

}
